<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
            body {
                display: flex;
                flex-direction: column;
                margin: 8% 15%;
                line-height: normal;
                font-family: Montserrat;
            }
            .logo svg {
                width: 150px;
                height: auto;
            }
            .email-body {
                display: flex;
                flex-direction: column;
                margin: 50px 0 50px 0;
            }

            .container {
                max-width: 80%;
                margin: 30px auto;
                background-color: #fafaff;
            }

            .container li {
                margin: 40px;
            }
            .container .title {
                padding-bottom: 5px;
                font-weight: bold;
            }

            a {
                color: #3452c8;
            }
            a:hover {
                color: #21347e;
            }
            a:visited {
                color: #6277b6;
            }
            .end-credit {
                margin-top: 20px;
            }
            footer {
                color: #8a8a8a;
            }
            footer p {
                margin-top: 50px;
                text-align: center;
            }
            footer svg {
                margin: auto;
            }
            .footer-title {
                font-size: 16px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .footer-title span {
                color: #585858;
            }
            .divider {
                width: 100%;
                left: 0px;
                top: 45px;
                margin: auto;
                border-top: 1.5px solid #585858;
            }

            .services {
                display: flex;
                width: fit-content;
                margin: auto;
                padding: 20px 0 0 0;
                font-size: smaller;
            }

            .services li {
                display: flex;
                flex-direction: column;
                margin: 0 20px;
                padding: 0;
            }

            .services a {
                padding: 0 2px;
                margin: auto;
            }

            .services li a:hover,
            .services li a:focus {
                color: #1a2a68;
            }

            .icon {
                margin: auto;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="logo">
            <svg width="346pt" height="152pt" viewBox="0 0 346 152" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g id="#112fbdff">
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 0.00 8.35 C 2.66 1.96 10.50 -1.04 16.85 1.47 C 28.65 5.93 40.43 10.44 52.17 15.03 C 51.10 16.65 50.03 18.26 48.97 19.88 C 47.12 20.31 45.29 20.82 43.46 21.31 C 40.75 20.29 38.03 19.30 35.42 18.04 C 35.49 17.21 35.63 15.54 35.71 14.71 C 28.86 12.74 22.30 8.58 14.96 9.31 C 12.15 9.32 10.90 12.49 11.08 14.89 C 11.07 44.41 11.09 73.93 11.04 103.44 C 6.54 108.49 4.50 115.11 0.23 120.31 C 0.18 118.68 0.08 117.07 0.00 115.45 L 0.00 8.35 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 29.68 36.69 C 33.82 34.73 38.84 36.36 43.31 35.81 C 44.06 36.40 44.81 36.99 45.56 37.59 L 45.33 37.94 C 41.75 43.31 38.95 49.13 35.61 54.64 C 32.55 59.73 29.55 65.16 29.49 71.28 C 29.56 59.75 29.16 48.19 29.68 36.69 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 123.28 72.30 C 130.13 70.23 138.27 71.30 143.55 76.41 C 150.39 83.49 150.84 95.11 146.72 103.69 C 140.75 115.12 122.64 116.01 114.92 106.00 C 110.79 100.67 110.53 93.41 111.40 86.99 C 112.14 80.36 116.87 74.30 123.28 72.30 M 127.42 78.52 C 123.14 79.61 119.93 83.56 119.46 87.91 C 118.88 93.05 118.82 99.20 122.88 103.05 C 126.46 106.72 132.82 107.05 136.69 103.64 C 140.27 100.96 140.98 96.15 141.17 91.98 C 140.91 88.04 140.46 83.43 137.08 80.84 C 134.53 78.44 130.77 77.68 127.42 78.52 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 153.75 72.35 C 161.15 71.94 168.58 72.06 176.00 72.28 C 174.91 74.54 173.85 76.80 172.80 79.07 C 169.14 79.06 165.47 79.14 161.80 79.19 C 161.80 82.19 161.80 85.19 161.80 88.19 C 163.34 88.23 164.87 88.26 166.40 88.29 C 165.27 90.66 164.15 93.04 162.82 95.32 C 162.56 95.39 162.02 95.55 161.75 95.62 C 161.75 96.06 161.76 96.94 161.76 97.38 C 158.29 101.63 156.22 106.71 154.27 111.77 L 153.99 112.47 C 153.57 99.11 154.04 85.72 153.75 72.35 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 85.45 123.62 C 86.83 123.62 88.22 123.62 89.60 123.63 C 89.61 124.62 89.63 125.62 89.64 126.62 C 88.23 126.62 86.83 126.62 85.42 126.62 C 85.43 125.61 85.44 124.62 85.45 123.62 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 67.12 123.63 C 72.01 123.62 76.90 123.63 81.79 123.62 C 81.79 124.56 81.80 126.44 81.80 127.38 C 78.32 127.37 74.85 127.38 71.37 127.37 C 71.37 129.16 71.37 130.96 71.36 132.76 C 74.47 132.75 77.57 132.75 80.67 132.74 C 80.67 133.71 80.67 135.65 80.67 136.62 C 77.57 136.62 74.48 136.62 71.38 136.62 C 71.37 139.69 71.37 142.75 71.39 145.82 C 69.97 145.85 68.55 145.87 67.13 145.90 C 67.11 138.48 67.12 131.05 67.12 123.63 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 183.63 123.62 C 186.79 123.62 189.94 123.62 193.09 123.62 C 192.20 124.83 191.30 126.04 190.41 127.25 C 188.18 127.52 185.92 127.37 183.67 127.38 C 183.66 126.44 183.64 124.56 183.63 123.62 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 85.44 129.75 C 86.83 129.75 88.23 129.74 89.62 129.74 C 89.62 135.11 89.62 140.49 89.63 145.87 C 88.22 145.86 86.82 145.86 85.43 145.86 C 85.45 140.49 85.43 135.12 85.44 129.75 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 92.84 129.80 C 94.24 129.78 95.63 129.76 97.03 129.74 L 96.95 131.70 C 99.70 129.45 103.15 129.45 106.33 130.68 C 108.49 135.46 107.22 140.82 107.56 145.88 C 106.11 145.87 104.66 145.86 103.22 145.86 C 102.77 141.38 104.61 136.10 101.43 132.35 C 100.19 132.88 98.95 133.41 97.70 133.94 C 97.18 137.89 97.25 141.88 97.33 145.85 C 95.83 145.84 94.33 145.83 92.83 145.81 C 92.84 140.47 92.83 135.14 92.84 129.80 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 109.98 134.33 C 111.58 128.91 117.97 129.19 122.35 130.62 C 125.01 135.36 122.66 141.07 124.48 146.09 C 122.74 145.80 120.56 146.23 119.54 144.40 C 117.35 145.48 114.78 146.60 112.39 145.42 C 109.68 144.59 108.48 140.62 110.71 138.67 C 113.14 136.62 116.57 136.71 119.51 136.05 C 119.11 134.83 118.71 133.62 118.30 132.42 C 116.50 132.68 114.77 133.29 113.73 134.87 C 112.48 134.69 111.23 134.51 109.98 134.33 M 113.85 140.92 C 114.42 143.90 117.60 142.47 119.30 141.45 C 119.32 140.35 119.34 139.25 119.36 138.15 C 117.52 138.97 114.31 138.46 113.85 140.92 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 126.77 129.76 C 127.75 129.76 129.71 129.74 130.70 129.74 C 130.71 130.24 130.75 131.23 130.77 131.73 C 133.78 129.25 139.64 128.57 141.12 133.03 C 141.66 137.28 141.25 141.58 141.36 145.86 C 139.86 145.84 138.36 145.83 136.86 145.82 C 136.49 141.36 138.17 136.29 135.42 132.37 C 134.12 132.87 132.82 133.36 131.52 133.86 C 131.10 137.80 131.16 141.77 131.23 145.73 C 129.75 145.80 128.26 145.86 126.78 145.93 C 126.76 140.54 126.77 135.15 126.77 129.76 Z"
                    />
                    <path
                        fill="#112fbd"
                        opacity="1.00"
                        d=" M 145.04 134.05 C 147.18 128.19 157.54 128.07 159.14 134.40 C 157.82 134.55 156.50 134.70 155.19 134.85 C 154.12 133.95 153.03 133.07 151.94 132.21 C 147.99 134.04 147.81 138.69 149.73 142.10 C 150.36 142.35 151.62 142.85 152.25 143.10 C 153.49 142.36 154.59 141.43 155.42 140.24 C 157.14 140.24 158.88 140.24 160.61 140.30 C 158.43 134.64 163.61 128.08 169.64 129.94 C 173.92 130.66 174.78 135.22 175.42 138.76 C 171.65 139.09 167.86 138.99 164.08 139.06 C 164.79 140.41 165.35 142.32 167.06 142.69 C 168.51 143.23 169.73 141.88 171.00 141.42 C 171.99 141.58 173.96 141.91 174.94 142.07 C 172.11 147.13 164.72 146.94 161.06 142.94 L 161.92 141.82 C 160.64 141.81 159.36 141.80 158.09 141.81 L 158.91 142.96 C 155.96 145.97 151.00 147.00 147.39 144.58 C 144.18 142.17 143.81 137.59 145.04 134.05 M 164.02 136.50 C 166.43 136.61 168.84 136.63 171.26 136.56 C 170.45 135.07 169.53 133.64 168.52 132.27 C 166.34 132.87 164.92 134.49 164.02 136.50 Z"
                    />
                </g>
                <g id="#5122c9ff">
                    <path
                        fill="#5122c9"
                        opacity="1.00"
                        d=" M 52.17 15.03 C 59.63 17.06 67.85 22.88 66.90 31.57 C 65.53 31.53 64.17 31.49 62.80 31.45 C 62.32 29.44 61.82 27.44 61.36 25.43 C 58.33 21.75 53.49 20.52 48.97 19.88 C 50.03 18.26 51.10 16.65 52.17 15.03 Z"
                    />
                    <path
                        fill="#5122c9"
                        opacity="1.00"
                        d=" M 35.61 54.64 C 38.95 49.13 41.75 43.31 45.33 37.94 C 48.30 42.16 51.45 46.27 54.09 50.70 C 51.37 55.32 49.27 60.31 46.12 64.66 L 44.83 65.84 C 41.87 75.64 34.65 83.38 31.11 92.91 C 30.02 97.15 30.48 101.60 30.47 105.93 L 29.42 105.95 C 29.50 94.39 29.40 82.83 29.49 71.28 C 29.55 65.16 32.55 59.73 35.61 54.64 Z"
                    />
                    <path
                        fill="#5122c9"
                        opacity="1.00"
                        d=" M 176.00 72.28 C 179.69 73.11 183.48 75.21 184.57 79.09 C 186.43 83.60 184.05 88.87 179.96 91.21 C 180.40 91.37 181.27 91.69 181.71 91.85 L 181.69 91.89 C 180.64 93.78 179.64 95.70 178.86 97.71 C 174.26 94.19 168.20 95.32 162.82 95.32 C 164.15 93.04 165.27 90.66 166.40 88.29 C 170.44 88.44 175.01 88.73 177.89 85.30 C 177.79 82.17 176.30 79.14 172.80 79.07 C 173.85 76.80 174.91 74.54 176.00 72.28 Z"
                    />
                    <path
                        fill="#5122c9"
                        opacity="1.00"
                        d=" M 154.27 111.77 C 156.22 106.71 158.29 101.63 161.76 97.38 C 161.77 99.87 161.76 102.37 161.74 104.86 C 166.93 105.29 172.18 105.35 177.32 104.41 C 175.89 107.02 174.39 109.58 172.95 112.19 C 166.73 111.93 160.47 112.48 154.27 111.77 Z"
                    />
                    <path
                        fill="#5122c9"
                        opacity="1.00"
                        d=" M 0.23 120.31 C 4.50 115.11 6.54 108.49 11.04 103.44 C 11.07 111.97 11.08 120.51 11.02 129.04 C 10.99 131.35 11.18 133.67 11.76 135.92 C 10.92 139.08 9.41 142.00 7.74 144.79 C 4.12 144.47 0.89 141.90 0.35 138.21 C -0.05 132.25 0.38 126.27 0.23 120.31 Z"
                    />
                    <path
                        fill="#5122c9"
                        opacity="1.00"
                        d=" M 193.09 123.62 C 195.80 123.62 198.51 123.63 201.23 123.66 C 201.23 124.88 201.23 126.10 201.23 127.33 C 199.00 127.36 196.78 127.38 194.56 127.40 C 194.58 133.55 194.56 139.70 194.59 145.86 C 193.16 145.88 191.72 145.91 190.29 145.94 C 190.31 139.71 190.04 133.47 190.41 127.25 C 191.30 126.04 192.20 124.83 193.09 123.62 Z"
                    />
                </g>
                <g id="#9314d4ff">
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 81.77 39.58 C 82.87 38.16 83.94 36.39 85.79 35.92 C 89.98 35.65 94.18 35.98 98.38 35.71 C 92.93 40.23 90.67 47.15 87.11 53.03 C 85.26 56.86 82.21 60.28 81.66 64.62 C 81.63 64.90 81.55 65.46 81.51 65.74 C 76.79 73.22 71.47 80.29 66.59 87.66 C 65.92 88.60 65.22 89.63 64.08 90.05 C 61.44 87.92 60.02 84.69 58.04 82.00 C 53.84 76.38 50.31 70.29 46.12 64.66 C 49.27 60.31 51.37 55.32 54.09 50.70 C 57.11 54.75 59.70 59.15 62.98 63.00 C 64.30 65.01 66.02 62.63 66.76 61.40 C 71.84 54.18 76.88 46.93 81.77 39.58 Z"
                    />
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 31.11 92.91 C 34.65 83.38 41.87 75.64 44.83 65.84 C 44.54 78.22 44.83 90.61 44.75 103.00 C 44.86 104.64 44.02 106.09 43.42 107.55 C 39.12 107.50 34.82 107.54 30.51 107.50 C 30.50 107.11 30.48 106.32 30.47 105.93 C 30.48 101.60 30.02 97.15 31.11 92.91 Z"
                    />
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 192.24 72.15 C 194.91 72.16 197.58 72.17 200.26 72.20 C 200.23 85.52 200.26 98.83 200.26 112.14 C 197.57 112.13 194.88 112.12 192.19 112.09 C 192.21 98.77 192.27 85.46 192.24 72.15 Z"
                    />
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 207.27 72.11 C 209.92 72.11 212.56 72.12 215.21 72.17 C 215.21 76.57 215.31 80.98 215.13 85.38 C 214.72 83.52 214.20 81.69 213.71 79.86 C 211.97 83.35 210.02 86.78 207.34 89.65 C 207.16 83.81 207.29 77.96 207.27 72.11 Z"
                    />
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 178.86 97.71 C 179.64 95.70 180.64 93.78 181.69 91.89 C 185.20 93.94 187.88 97.87 187.20 102.07 C 186.53 105.22 184.95 108.46 182.10 110.17 C 179.33 111.75 176.04 111.79 172.95 112.19 C 174.39 109.58 175.89 107.02 177.32 104.41 C 178.63 102.41 178.69 100.01 178.86 97.71 Z"
                    />
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 37.44 120.69 C 41.18 120.11 44.41 116.77 48.31 117.65 C 48.44 119.53 48.27 121.41 48.16 123.29 C 47.64 125.50 46.84 127.62 45.95 129.70 C 35.76 134.26 26.16 140.08 15.73 144.09 C 13.16 144.95 10.41 145.03 7.74 144.79 C 9.41 142.00 10.92 139.08 11.76 135.92 C 15.35 135.70 19.21 136.45 22.52 134.68 C 27.14 132.49 31.88 130.54 36.41 128.17 C 35.17 127.19 33.93 126.20 32.69 125.22 C 33.78 123.24 35.49 121.78 37.44 120.69 Z"
                    />
                    <path
                        fill="#9314d4"
                        opacity="1.00"
                        d=" M 206.04 129.84 C 211.60 128.45 215.30 133.75 215.52 138.71 C 211.70 139.26 207.82 138.84 203.98 139.20 C 204.60 140.28 205.23 141.36 205.89 142.43 L 205.67 142.66 C 204.97 143.41 204.27 144.16 203.57 144.91 L 203.24 145.26 C 198.57 141.04 198.94 131.16 206.04 129.84 M 204.09 136.55 C 206.41 136.63 208.75 136.62 211.08 136.52 C 210.36 135.06 209.52 133.66 208.58 132.34 C 206.21 132.66 204.76 134.36 204.09 136.55 Z"
                    />
                </g>
                <g id="#c310e8ff">
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 98.38 35.71 C 98.94 53.77 98.48 71.86 98.62 89.92 C 98.55 95.75 98.79 101.58 98.44 107.39 C 94.17 107.62 89.89 107.53 85.61 107.52 C 85.18 107.07 84.32 106.18 83.88 105.74 C 83.90 91.99 83.90 78.23 83.88 64.48 C 83.33 64.52 82.22 64.59 81.66 64.62 C 82.21 60.28 85.26 56.86 87.11 53.03 C 90.67 47.15 92.93 40.23 98.38 35.71 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 239.19 72.12 C 248.99 72.13 258.79 72.12 268.59 72.13 C 268.59 74.46 268.60 76.80 268.60 79.13 C 261.50 79.12 254.39 79.12 247.29 79.13 C 247.30 81.92 247.30 84.72 247.32 87.51 C 253.81 87.49 260.30 87.51 266.80 87.50 C 266.80 89.79 266.80 92.08 266.81 94.38 C 260.30 94.37 253.80 94.38 247.30 94.38 C 247.30 97.96 247.30 101.54 247.30 105.12 C 254.64 105.13 261.99 105.12 269.34 105.13 C 269.34 107.46 269.35 109.79 269.35 112.13 C 259.30 112.11 249.25 112.13 239.20 112.12 C 239.20 98.79 239.20 85.46 239.19 72.12 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 207.34 89.65 C 210.02 86.78 211.97 83.35 213.71 79.86 C 214.20 81.69 214.72 83.52 215.13 85.38 C 215.36 91.95 215.15 98.53 215.21 105.10 C 221.75 105.15 228.29 105.11 234.83 105.13 C 234.83 107.46 234.83 109.79 234.84 112.12 C 225.64 112.12 216.45 112.12 207.25 112.12 C 207.28 104.63 207.23 97.14 207.34 89.65 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 63.38 111.33 C 64.67 111.31 65.97 111.45 67.26 111.57 C 66.09 114.72 64.86 117.99 62.42 120.39 C 57.94 125.02 51.50 126.75 45.95 129.70 C 46.84 127.62 47.64 125.50 48.16 123.29 C 51.36 121.65 54.75 120.41 57.98 118.82 C 60.87 117.30 61.63 113.84 63.38 111.33 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 233.45 145.84 C 233.48 138.44 233.44 131.04 233.47 123.64 C 234.52 123.63 236.62 123.61 237.68 123.60 C 237.70 126.20 237.71 128.80 237.66 131.40 C 240.07 130.17 243.08 128.83 245.65 130.48 C 247.81 131.39 247.87 133.94 248.12 135.92 C 248.30 139.21 248.14 142.51 248.19 145.80 C 246.68 145.83 245.18 145.85 243.68 145.86 C 243.67 141.83 243.76 137.79 243.51 133.76 C 242.89 133.45 241.64 132.84 241.02 132.54 C 240.40 132.83 239.17 133.41 238.56 133.70 C 237.22 137.63 237.78 141.81 237.71 145.88 C 236.29 145.87 234.86 145.85 233.45 145.84 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 288.11 123.63 C 289.50 123.63 290.89 123.63 292.29 123.62 C 292.31 131.04 292.29 138.46 292.30 145.88 C 290.90 145.87 289.51 145.87 288.11 145.86 C 288.10 138.45 288.11 131.04 288.11 123.63 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 218.22 132.25 C 221.76 128.20 229.61 128.93 231.53 134.31 C 230.11 134.51 228.69 134.70 227.27 134.86 C 225.98 132.61 223.74 132.44 221.57 133.63 C 220.81 136.38 220.03 139.60 222.03 142.05 C 223.88 143.57 226.81 142.64 227.32 140.23 C 228.83 140.29 230.33 140.37 231.84 140.49 C 230.51 145.83 223.64 147.44 219.44 144.49 C 215.83 141.62 215.61 135.84 218.22 132.25 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 251.80 129.71 C 253.59 129.83 255.91 129.19 256.52 131.52 C 258.99 129.24 262.28 129.57 265.20 130.71 C 267.51 135.42 266.06 140.81 266.48 145.84 C 265.02 145.85 263.56 145.87 262.11 145.89 C 261.56 141.46 263.60 136.05 260.34 132.40 C 259.11 132.91 257.89 133.42 256.67 133.93 C 256.07 137.87 256.24 141.87 256.27 145.84 C 254.77 145.83 253.28 145.83 251.80 145.81 C 251.80 140.44 251.80 135.08 251.80 129.71 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 275.08 129.92 C 281.09 128.13 286.96 134.70 284.60 140.45 C 282.94 146.05 275.35 147.59 271.16 143.89 C 266.57 139.85 268.60 130.60 275.08 129.92 M 273.81 133.98 C 272.86 136.38 272.70 138.92 273.58 141.38 C 275.70 143.14 278.32 142.94 280.41 141.24 C 280.55 139.53 280.79 137.82 280.62 136.10 C 280.59 134.18 278.40 133.53 277.19 132.41 C 276.07 132.94 274.94 133.46 273.81 133.98 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 301.04 129.93 C 305.01 128.98 310.03 131.11 310.76 135.48 C 312.11 139.61 309.51 144.71 305.18 145.63 C 301.02 146.82 295.92 144.40 294.97 140.01 C 293.70 135.72 296.46 130.60 301.04 129.93 M 302.10 132.91 C 298.22 133.90 299.09 138.43 299.51 141.40 C 300.94 141.84 302.35 143.20 303.92 142.66 C 308.79 141.28 307.46 131.69 302.10 132.91 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 315.67 130.68 C 318.44 128.81 321.64 130.11 324.22 131.60 C 324.22 131.14 324.21 130.21 324.20 129.75 C 325.16 129.75 327.07 129.76 328.02 129.76 C 327.98 135.81 328.62 141.95 327.50 147.95 C 327.05 150.31 324.65 151.34 322.61 152.00 L 318.35 152.00 C 315.47 151.92 313.41 149.96 312.53 147.33 C 316.12 147.91 319.68 149.15 323.37 148.58 C 323.53 147.14 323.71 145.71 323.90 144.29 C 321.39 145.36 318.40 146.79 315.84 145.04 C 311.40 141.83 311.20 133.92 315.67 130.68 M 316.52 135.57 C 316.70 137.86 316.28 140.90 318.53 142.33 C 320.19 143.58 321.88 141.93 323.44 141.34 C 323.57 139.15 323.94 136.89 323.37 134.73 C 322.34 133.73 321.09 133.02 319.90 132.25 C 318.73 133.32 317.61 134.43 316.52 135.57 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 329.80 129.80 C 330.91 129.78 333.11 129.75 334.22 129.73 C 335.47 133.84 336.74 137.94 338.02 142.03 C 339.41 137.97 340.65 133.85 341.92 129.75 C 343.28 129.75 344.64 129.76 346.00 129.76 L 346.00 130.18 C 344.09 135.87 341.82 141.43 339.86 147.10 C 339.21 149.30 337.71 151.09 335.59 152.00 L 331.29 152.00 C 331.23 151.31 331.11 149.93 331.04 149.25 C 332.95 148.64 335.85 148.78 335.68 146.03 C 334.24 140.45 331.45 135.32 329.80 129.80 Z"
                    />
                    <path
                        fill="#c310e8"
                        opacity="1.00"
                        d=" M 205.67 142.66 C 207.60 142.86 209.52 142.70 210.99 141.29 C 212.34 141.70 213.70 142.13 215.07 142.55 C 212.18 145.81 207.50 146.80 203.57 144.91 C 204.27 144.16 204.97 143.41 205.67 142.66 Z"
                    />
                </g>
            </svg>
        </div>
        <div class="email-body">
            <b>Dear ${name},</b>
            <p>We are writing to let you know about some of the important changes comming to Mobile Finance Technology: we are updating our Terms and Services</p>
            <p>These changes will take effect on <b>April 15 2022</b>. We are letting you know ahead of time so that you can learn what is changing.</p>
            <p>Here are the main things to know:</p>
            <div class="container">
                <ul>
                    <li>
                        <div class="title">Point 1</div>
                        <div class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </li>
                    <li>
                        <div class="title">Point 2</div>
                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
                    </li>
                    <li>
                        <div class="title">Point 3</div>
                        <div class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </div>
                    </li>
                </ul>
            </div>
            <p>We encourage you to read the updated documents in full. These policies will be in effect on April 15, 2022. Using mo-fin app on or after that date means you agree to these changes.</p>
            <p>Thank you for taking your time to read about our upcomming changes.</p>
            <div class="end-credit">
                <b>- Mo-fin tech</b>
            </div>
        </div>
        <footer>
            <div class="footer-title"><span>Mo-fin Tech</span> Services</div>
            <div class="divider"></div>
            <ul class="services">
                <li>
                    <svg width="42" height="41" viewBox="0 0 42 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.708008" width="40.8402" height="40.8401" rx="20.42" fill="#F3F3FF" />
                        <path
                            d="M21.1276 11.7562C20.699 11.7562 20.28 11.8833 19.9236 12.1214C19.5672 12.3595 19.2894 12.698 19.1254 13.094C18.9614 13.49 18.9185 13.9257 19.0021 14.3461C19.0857 14.7665 19.2921 15.1526 19.5952 15.4557C19.8983 15.7588 20.2844 15.9652 20.7048 16.0488C21.1252 16.1324 21.5609 16.0895 21.9569 15.9255C22.3529 15.7615 22.6914 15.4837 22.9295 15.1273C23.1676 14.7709 23.2947 14.3519 23.2947 13.9233C23.2943 13.3487 23.0659 12.7977 22.6595 12.3914C22.2532 11.9851 21.7022 11.7566 21.1276 11.7562V11.7562ZM21.1276 15.0073C20.9132 15.0073 20.7036 14.9437 20.5254 14.8246C20.3471 14.7055 20.2082 14.5362 20.1261 14.3381C20.0441 14.1401 20.0226 13.9221 20.0644 13.7118C20.1063 13.5016 20.2095 13.3084 20.3611 13.1568C20.5127 13.0052 20.7059 12.902 20.9161 12.8602C21.1264 12.8183 21.3443 12.8398 21.5424 12.9219C21.7405 13.0039 21.9098 13.1428 22.0289 13.3211C22.148 13.4994 22.2116 13.7089 22.2116 13.9233C22.2111 14.2107 22.0968 14.4861 21.8936 14.6893C21.6904 14.8925 21.4149 15.0069 21.1276 15.0073Z"
                            stroke="#394E9E"
                            stroke-width="0.850835"
                        />
                        <path
                            d="M32.4982 18.2544C32.5692 18.2546 32.6396 18.2408 32.7053 18.2138C32.771 18.1867 32.8307 18.147 32.8811 18.0968C32.9314 18.0467 32.9713 17.9871 32.9985 17.9215C33.0258 17.8558 33.0398 17.7855 33.0398 17.7144V15.5489C33.0398 15.455 33.0153 15.3627 32.9688 15.2811C32.9223 15.1995 32.8554 15.1314 32.7745 15.0835L22.1834 8.79334L22.1691 8.7854C21.8496 8.60264 21.4876 8.5071 21.1195 8.50836C20.7514 8.50961 20.3901 8.60762 20.0719 8.79255L9.48154 15.0835C9.40073 15.1314 9.33377 15.1995 9.28727 15.2811C9.24076 15.3627 9.2163 15.455 9.21631 15.5489V17.7144C9.21631 17.7855 9.23033 17.8558 9.25757 17.9215C9.2848 17.9871 9.32472 18.0467 9.37503 18.0968C9.42534 18.147 9.48506 18.1867 9.55076 18.2138C9.61646 18.2408 9.68685 18.2546 9.7579 18.2544H11.3819V28.0006C10.8077 28.0012 10.2573 28.2296 9.85128 28.6356C9.4453 29.0416 9.21694 29.592 9.21631 30.1662V31.7901C9.2162 31.8613 9.23014 31.9318 9.25732 31.9975C9.2845 32.0633 9.32439 32.123 9.3747 32.1733C9.42501 32.2236 9.48476 32.2635 9.55052 32.2907C9.61627 32.3179 9.68674 32.3318 9.7579 32.3317H32.4982C32.5693 32.3318 32.6398 32.3179 32.7056 32.2907C32.7713 32.2635 32.8311 32.2236 32.8814 32.1733C32.9317 32.123 32.9716 32.0633 32.9988 31.9975C33.0259 31.9318 33.0399 31.8613 33.0398 31.7901V30.1662C33.0391 29.592 32.8108 29.0416 32.4048 28.6356C31.9988 28.2296 31.4484 28.0012 30.8742 28.0006V18.2544H32.4982ZM31.9566 30.1662V31.2493H10.2995V30.1662C10.2997 29.879 10.4139 29.6036 10.617 29.4005C10.8201 29.1974 11.0954 29.0832 11.3827 29.083H30.8742C31.1613 29.0834 31.4365 29.1977 31.6394 29.4008C31.8423 29.6038 31.9564 29.8791 31.9566 30.1662ZM12.465 28.0006V18.2544H14.6306V28.0006H12.465ZM15.7138 28.0006V18.2544H18.9625V28.0006H15.7138ZM20.0457 28.0006V18.2544H22.2112V28.0006H20.0457ZM23.2944 28.0006V18.2544H26.5431V28.0006H23.2944ZM27.6263 28.0006V18.2544H29.7918V28.0006H27.6263ZM10.2995 17.1713V15.8554L20.6095 9.7304C20.7664 9.63979 20.9444 9.59209 21.1257 9.59209C21.3069 9.59209 21.4849 9.63979 21.6418 9.7304L31.9566 15.8554V17.1713H10.2995Z"
                            fill="#394E9E"
                        />
                    </svg>
                    <a href="">Bank Load</a>
                </li>
                <li>
                    <svg width="44" height="43" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.519287" width="42.5417" height="42.5416" rx="21.2708" fill="#F3F3FF" />
                        <path
                            d="M23.5476 24.0546C21.9048 24.0669 20.2953 23.6214 18.923 22.7748C17.5507 21.9282 16.4776 20.7185 15.8398 19.2993C15.202 17.8801 15.0284 16.3152 15.3408 14.8033C15.6532 13.2914 16.4377 11.9005 17.5946 10.8072C18.7516 9.71383 20.2289 8.96731 21.8392 8.66231C23.4494 8.35731 25.12 8.50759 26.639 9.09406C28.158 9.68053 29.4571 10.6768 30.3711 11.9564C31.2852 13.236 31.7732 14.7413 31.7732 16.2813C31.7795 18.334 30.9171 20.3051 29.375 21.7624C27.8329 23.2196 25.7372 24.044 23.5476 24.0546ZM23.5476 9.75545C22.1681 9.74365 20.816 10.1164 19.6629 10.8263C18.5098 11.5362 17.6076 12.5512 17.071 13.7426C16.5344 14.9341 16.3875 16.2481 16.6489 17.5179C16.9104 18.7877 17.5684 19.9561 18.5395 20.8747C19.5105 21.7933 20.7508 22.4207 22.103 22.6772C23.4551 22.9338 24.8581 22.808 26.1338 22.3158C27.4095 21.8235 28.5004 20.987 29.2681 19.9124C30.0358 18.8379 30.4456 17.5738 30.4455 16.2805C30.4518 14.5584 29.729 12.9043 28.4358 11.6811C27.1426 10.458 25.3846 9.76574 23.5476 9.75628V9.75545Z"
                            fill="#394E9E"
                        />
                        <path
                            d="M9.69284 34.0332C9.51647 34.033 9.3474 33.9672 9.22269 33.8503C9.09798 33.7334 9.02783 33.5748 9.02759 33.4095V27.4953C9.02783 27.33 9.09798 27.1715 9.22269 27.0546C9.3474 26.9377 9.51647 26.872 9.69284 26.8717H12.4157L12.4266 26.7518C12.4711 26.2895 12.6629 25.8505 12.9771 25.4918C13.2913 25.1331 13.7132 24.8713 14.1882 24.7404C14.9483 24.5336 15.7357 24.4282 16.5271 24.4272C16.7087 24.4272 16.8956 24.4332 17.0789 24.4443C18.1222 24.5625 19.1315 24.8671 20.0523 25.3418C20.8686 25.7811 21.778 26.047 22.7161 26.1204H25.3945C25.5708 26.1206 25.7399 26.1864 25.8646 26.3033C25.9893 26.4202 26.0595 26.5787 26.0597 26.7441C26.0616 27.5121 25.7983 28.2601 25.3092 28.8763L25.143 29.0864H26.6261L29.0857 26.7806C29.7853 26.1261 30.7334 25.7585 31.7218 25.7585C32.7103 25.7585 33.6583 26.1261 34.358 26.7806C34.4826 26.8977 34.5526 27.0564 34.5526 27.2218C34.5526 27.3873 34.4826 27.5459 34.358 27.6629L28.5674 33.0913C28.2498 33.3905 27.872 33.6278 27.4559 33.7893C27.0398 33.9509 26.5936 34.0334 26.1432 34.0323L9.69284 34.0332ZM16.5299 25.6745C15.8631 25.6752 15.1997 25.7641 14.5594 25.9383C14.3275 26.0018 14.1236 26.1337 13.9779 26.3144C13.8323 26.4951 13.7526 26.7149 13.7508 26.9414V32.785H26.1432C26.4187 32.7855 26.6916 32.7348 26.9462 32.6359C27.2007 32.5371 27.4318 32.392 27.6263 32.209L32.8904 27.2741L32.7088 27.1959C32.2654 27.0109 31.7725 26.9562 31.2952 27.0389C30.8179 27.1217 30.3786 27.3381 30.035 27.6595L27.3812 30.1474C27.3196 30.2055 27.2464 30.2516 27.1657 30.283C27.085 30.3144 26.9984 30.3305 26.911 30.3303L18.189 30.3236C18.0124 30.3236 17.8431 30.2578 17.7182 30.1408C17.5934 30.0237 17.5232 29.865 17.5232 29.6995C17.5232 29.5339 17.5934 29.3752 17.7182 29.2582C17.8431 29.1411 18.0124 29.0754 18.189 29.0754C19.5767 29.0754 22.2069 29.0754 22.3413 29.0754H22.3567C22.8489 29.0542 23.3235 28.8968 23.7204 28.623C24.1173 28.3492 24.4188 27.9714 24.5867 27.5371L24.6557 27.3601H22.727C21.5914 27.2941 20.4865 26.9871 19.4959 26.4624C18.7236 26.0588 17.8778 25.7937 17.0018 25.6805C16.8348 25.6788 16.6815 25.6745 16.5263 25.6745H16.5299ZM10.3581 32.785H12.4157V28.1182H10.3554L10.3581 32.785Z"
                            fill="#394E9E"
                        />
                        <path
                            d="M27.442 13.9135H23.2072C23.3296 13.9444 23.4436 13.9989 23.5421 14.0737C23.6405 14.1484 23.7213 14.2417 23.779 14.3474C23.9193 14.5644 23.9948 14.8127 23.9977 15.0664C24.0018 15.2984 23.9337 15.5265 23.8019 15.7229C23.67 15.9193 23.4802 16.0755 23.2553 16.1725C22.8087 16.3796 22.3177 16.4887 21.8195 16.4916C22.0925 16.5617 22.335 16.7106 22.5129 16.917C22.545 16.955 22.6659 17.1535 22.8759 17.5125C23.2734 18.1819 23.6589 18.5166 24.0322 18.5166C24.4118 18.4781 24.7756 18.3527 25.0914 18.1515L24.7692 19.1249C24.3817 19.2533 23.9748 19.3225 23.5639 19.3299C23.2408 19.3316 22.9208 19.2706 22.624 19.1508C22.3273 19.0311 22.0601 18.8551 21.8394 18.6339C21.4832 18.226 21.1578 17.7953 20.8656 17.3449C20.5491 16.8809 20.2572 16.6489 19.9897 16.6489H19.7955L19.8073 15.5769C20.2209 15.7823 20.6784 15.8986 21.1461 15.9172C21.4584 15.927 21.7631 15.8252 21.9983 15.6322C22.1116 15.5359 22.2009 15.4174 22.2598 15.285C22.3186 15.1526 22.3455 15.0097 22.3386 14.8664C22.3602 14.6666 22.3126 14.4656 22.2029 14.2931C22.0933 14.1206 21.9273 13.9857 21.7296 13.9084H19.6611V13.2277H27.4494L27.442 13.9135ZM26.4928 18.2714L25.714 17.6666C25.9796 17.3638 26.1294 16.9864 26.1397 16.5945C26.1529 16.4358 26.1256 16.2764 26.0599 16.1296C25.9942 15.9828 25.8921 15.8528 25.7621 15.7504C25.687 15.69 25.5931 15.6539 25.4943 15.6475C25.4512 15.6496 25.4096 15.663 25.3741 15.6861C25.3387 15.7093 25.3108 15.7413 25.2938 15.7786C25.2443 15.8558 25.2171 15.9437 25.2148 16.0337C25.2148 16.1784 25.3244 16.2507 25.5434 16.2507C25.6546 16.2488 25.765 16.2334 25.8719 16.2048L25.6405 16.8097C25.5127 16.8577 25.376 16.881 25.2384 16.8778C25.0323 16.8774 24.8288 16.8347 24.6421 16.7528C24.4227 16.6729 24.2351 16.5312 24.1051 16.3473C23.9751 16.1634 23.9091 15.9463 23.9161 15.7258C23.9097 15.6013 23.9325 15.477 23.983 15.3618C24.0335 15.2465 24.1104 15.143 24.2082 15.0587C24.4135 14.8916 24.679 14.804 24.9507 14.8137C25.2421 14.8133 25.529 14.8821 25.7844 15.0138C26.0398 15.1455 26.2553 15.3357 26.411 15.5667C26.5613 15.7938 26.6646 16.0455 26.7151 16.3086C26.7836 16.5699 26.8204 16.8376 26.8249 17.1066C26.834 17.5172 26.7192 17.922 26.4937 18.274L26.4928 18.2714Z"
                            fill="#394E9E"
                        />
                    </svg>
                    <a href="">Fund Transfer</a>
                </li>
                <li>
                    <svg width="44" height="43" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.891113" width="42.5411" height="42.5422" rx="21.2705" fill="#F3F3FF" />
                        <path
                            d="M22.1092 34.0313C19.4058 34.0261 16.7748 33.1574 14.5997 31.5519C14.1714 31.8045 13.6706 31.9054 13.1779 31.8384C12.6852 31.7714 12.2295 31.5404 11.8842 31.1827C11.5389 30.8249 11.3242 30.3612 11.2748 29.8665C11.2253 29.3717 11.3439 28.8748 11.6116 28.4557C10.1682 26.3428 9.39709 23.843 9.39942 21.2841V21.256C9.39947 17.9942 10.6522 14.857 12.8989 12.4924L12.9108 12.4796C15.0241 10.2556 17.8677 8.86735 20.9211 8.5689C23.9744 8.27046 27.0331 9.08182 29.537 10.8545C29.9632 10.5657 30.4769 10.4346 30.9894 10.4839C31.5019 10.5331 31.9812 10.7596 32.3447 11.1243C32.7081 11.4889 32.933 11.969 32.9805 12.4816C33.0281 12.9943 32.8953 13.5075 32.6051 13.9328C34.1273 16.0768 34.9383 18.6445 34.9236 21.2738C34.9237 22.2109 34.8219 23.1453 34.6199 24.0603C34.5906 24.195 34.516 24.3156 34.4085 24.4018C34.301 24.4881 34.1672 24.5348 34.0294 24.5342C33.9845 24.5344 33.9396 24.5296 33.8958 24.5198C33.7395 24.4846 33.6036 24.3889 33.5178 24.2536C33.4319 24.1184 33.4033 23.9546 33.438 23.7982C33.576 23.1663 33.6614 22.524 33.6933 21.8779H28.4785C28.4485 23.3529 28.2847 24.822 27.9893 26.2674C28.3055 26.4666 28.5659 26.7429 28.7461 27.0703C28.9263 27.3977 29.0204 27.7655 29.0197 28.1392C29.0197 28.1681 29.0197 28.1965 29.0197 28.2243C29.6263 28.4268 30.2304 28.6591 30.8209 28.9152C31.1476 28.5447 31.4494 28.153 31.7245 27.7428C31.8136 27.6093 31.9521 27.5166 32.1095 27.4853C32.2669 27.4539 32.4303 27.4864 32.5638 27.5755C32.6973 27.6647 32.7899 27.8032 32.8212 27.9606C32.8526 28.118 32.8201 28.2814 32.731 28.4149C32.3386 29.0004 31.8971 29.5514 31.4114 30.0621C30.2276 31.314 28.8013 32.3117 27.2195 32.9945C25.6376 33.6773 23.9333 34.031 22.2104 34.0338L22.1092 34.0313ZM18.2753 28.6905C19.1261 30.9299 20.3003 32.3764 21.557 32.7337V28.3264C20.4551 28.3599 19.3577 28.4816 18.2753 28.6905ZM22.7669 32.732C23.7615 32.4436 24.7238 31.4617 25.5057 29.9243C25.2683 29.752 25.0676 29.534 24.9155 29.2831C24.7634 29.0323 24.6629 28.7536 24.62 28.4634C24.0082 28.3902 23.3863 28.3443 22.7669 28.3264V32.732ZM15.4437 30.667C16.5254 31.4445 17.7348 32.0268 19.0172 32.3874C18.17 31.3716 17.5155 30.2096 17.0859 28.9586C16.6145 29.0794 16.144 29.2138 15.682 29.3712C15.7375 29.817 15.6556 30.2691 15.4472 30.667H15.4437ZM26.6501 30.3429C26.2992 31.0762 25.855 31.7611 25.3287 32.3806C27.03 31.8973 28.597 31.0281 29.9079 29.8409C29.491 29.6707 29.0682 29.5142 28.6453 29.3729C28.4424 29.673 28.1692 29.9188 27.8494 30.0889C27.5297 30.2591 27.1731 30.3483 26.8109 30.3489C26.7573 30.348 26.7037 30.3463 26.6501 30.342V30.3429ZM12.7585 28.9467C12.5806 29.1311 12.4801 29.3767 12.4775 29.6329C12.475 29.8892 12.5706 30.1367 12.7448 30.3247C12.9189 30.5127 13.1584 30.6269 13.4141 30.6439C13.6698 30.6609 13.9223 30.5793 14.1198 30.416C14.1524 30.3745 14.1905 30.3377 14.233 30.3063C14.3567 30.167 14.439 29.9959 14.4707 29.8124C14.5024 29.6289 14.4823 29.4402 14.4125 29.2674C14.404 29.2504 14.3955 29.2325 14.3878 29.2138C14.3215 29.0726 14.223 28.9488 14.1003 28.8524C13.9775 28.756 13.834 28.6897 13.681 28.6587C13.5281 28.6277 13.37 28.6329 13.2194 28.6739C13.0688 28.7149 12.9299 28.7905 12.8138 28.8947C12.7965 28.9129 12.778 28.9299 12.7585 28.9458V28.9467ZM26.5463 29.1024C26.7913 29.1697 27.0527 29.1414 27.2776 29.023C27.5024 28.9047 27.6739 28.7052 27.757 28.4651V28.4591C27.757 28.4472 27.7655 28.4336 27.7706 28.42C27.8263 28.233 27.8264 28.0338 27.7707 27.8468C27.715 27.6598 27.6061 27.4931 27.4572 27.367C27.3083 27.241 27.1258 27.161 26.9322 27.1369C26.7385 27.1129 26.5421 27.1458 26.3669 27.2316C26.1917 27.3174 26.0452 27.4524 25.9455 27.6201C25.8458 27.7879 25.7971 27.981 25.8054 28.176C25.8137 28.3709 25.8786 28.5592 25.9922 28.7178C26.1058 28.8764 26.2632 28.9985 26.445 29.0692C26.4785 29.0774 26.5113 29.0885 26.5429 29.1024H26.5463ZM13.4817 27.4279C13.8127 27.4278 14.1394 27.502 14.4379 27.645C14.7364 27.788 14.999 27.9961 15.2064 28.2541C15.7007 28.0839 16.2052 27.9359 16.7106 27.8049C16.3027 26.3735 16.0379 24.9051 15.9202 23.4213C15.5387 23.3293 15.1886 23.1375 14.9057 22.8655C14.6228 22.5935 14.4174 22.2513 14.3104 21.8737H10.6238C10.7251 23.9337 11.3818 25.9278 12.5245 27.6449C12.8233 27.5018 13.1504 27.4276 13.4817 27.4279ZM17.1318 23.372C17.246 24.781 17.5006 26.175 17.8916 27.5334C19.0992 27.2913 20.3251 27.1519 21.5561 27.1165V21.8779H18.5731C18.4734 22.2259 18.2899 22.5441 18.0386 22.8045C17.7873 23.065 17.4759 23.2599 17.1318 23.372ZM22.7669 27.1157C23.439 27.1336 24.112 27.1829 24.7748 27.2629C24.9449 26.8642 25.2286 26.5245 25.5906 26.286C25.9525 26.0475 26.3766 25.9209 26.81 25.922H26.8296C27.0955 24.589 27.2438 23.2352 27.2729 21.8762H22.7635L22.7669 27.1157ZM16.4239 20.2664C16.1628 20.274 15.915 20.3831 15.733 20.5705C15.551 20.7579 15.4491 21.0088 15.4491 21.27C15.4491 21.5312 15.551 21.7821 15.733 21.9695C15.915 22.1569 16.1628 22.266 16.4239 22.2736H16.4537H16.5098C16.7638 22.257 17.002 22.1444 17.176 21.9586C17.35 21.7729 17.4469 21.5279 17.4469 21.2734C17.4469 21.0189 17.35 20.7739 17.176 20.5881C17.002 20.4024 16.7638 20.2898 16.5098 20.2732H16.4562L16.4239 20.2664ZM33.6959 20.6646C33.5932 18.5286 32.8915 16.4647 31.6709 14.7088C31.262 14.8918 30.8071 14.9464 30.3665 14.8653C29.9259 14.7841 29.5203 14.5711 29.2034 14.2544C28.681 14.4348 28.1518 14.5948 27.6234 14.7335C28.1575 16.6664 28.4434 18.6595 28.4743 20.6646H33.6959ZM27.2661 20.6646C27.2286 18.7514 26.9426 16.8512 26.4153 15.0117C25.2097 15.254 23.9858 15.3934 22.7567 15.4286V20.6646H27.2661ZM21.5527 20.6646V15.4286C20.3171 15.3915 19.0869 15.2492 17.8754 15.0032C17.4891 16.3612 17.2394 17.7544 17.1301 19.1621C17.4742 19.2747 17.7853 19.4703 18.0359 19.7316C18.2865 19.9929 18.469 20.3119 18.5672 20.6604L21.5527 20.6646ZM14.307 20.6646C14.4141 20.2869 14.6198 19.9444 14.903 19.6724C15.1862 19.4004 15.5367 19.2087 15.9185 19.117C16.0307 17.6341 16.2898 16.166 16.6919 14.7343C15.5987 14.4492 14.5294 14.0793 13.4936 13.6282C13.3235 13.8256 13.1533 14.0281 12.9976 14.2306C11.568 16.0837 10.7391 18.3296 10.6221 20.6672L14.307 20.6646ZM18.26 13.8503C19.3459 14.0615 20.447 14.1847 21.5527 14.2187V9.802C20.291 10.1542 19.11 11.6024 18.2642 13.8494L18.26 13.8503ZM22.7626 14.2178C23.8597 14.1843 24.9522 14.0628 26.0298 13.8545C25.179 11.6126 24.0057 10.1645 22.7626 9.80543V14.2178ZM29.9947 12.0457C29.8726 12.1922 29.7948 12.3704 29.7703 12.5596C29.7459 12.7487 29.7759 12.9409 29.8568 13.1136C29.9377 13.2863 30.0662 13.4324 30.2271 13.5347C30.3881 13.637 30.5749 13.6913 30.7656 13.6912C30.9752 13.6914 31.1795 13.6253 31.3492 13.5023C31.3745 13.4711 31.403 13.4425 31.4343 13.4172C31.4564 13.3994 31.4797 13.3832 31.5041 13.3687C31.6843 13.1744 31.7803 12.9167 31.7711 12.6519C31.762 12.3871 31.6484 12.1366 31.4552 11.9553C31.2621 11.7739 31.005 11.6763 30.7401 11.6838C30.4752 11.6914 30.2241 11.8034 30.0415 11.9955C30.0296 12.013 30.0165 12.0298 30.0024 12.0457H29.9947ZM25.3262 10.1542C26.1694 11.1701 26.8205 12.3312 27.2474 13.5806C27.7026 13.4632 28.1578 13.3254 28.6087 13.179C28.5017 12.7097 28.5507 12.2183 28.7482 11.7794C27.7082 11.0519 26.5543 10.5027 25.3338 10.1542H25.3262ZM14.404 12.6974C15.2695 13.0519 16.1581 13.347 17.0637 13.5806C17.4902 12.3322 18.1407 11.172 18.9832 10.1568C17.284 10.6408 15.7193 11.5102 14.4108 12.6974H14.404Z"
                            fill="#394E9E"
                        />
                        <path
                            d="M33.1639 27.0519C33.0618 27.0517 32.9613 27.0257 32.872 26.9762C32.7826 26.9267 32.7072 26.8554 32.6529 26.7689C32.5985 26.6824 32.5669 26.5836 32.5611 26.4816C32.5552 26.3796 32.5753 26.2778 32.6194 26.1857C32.7266 25.9585 32.8244 25.734 32.9078 25.5187C32.9623 25.3677 33.0746 25.2446 33.2198 25.1764C33.3651 25.1082 33.5315 25.1005 33.6825 25.155C33.8335 25.2095 33.9566 25.3217 34.0248 25.467C34.093 25.6123 34.1007 25.7786 34.0462 25.9296L34.036 25.956C33.9382 26.2112 33.8284 26.4623 33.711 26.7073C33.6609 26.8094 33.5831 26.8955 33.4866 26.9556C33.39 27.0158 33.2785 27.0477 33.1647 27.0476L33.1639 27.0519Z"
                            stroke="#394E9E"
                            stroke-width="0.850835"
                        />
                    </svg>
                    <a href="">Remitance</a>
                </li>
                <li>
                    <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.543945" width="42" height="42" rx="21" fill="#F3F3FF" />
                        <path
                            d="M26.2106 9.33334H16.8773C15.5886 9.33334 14.5439 10.378 14.5439 11.6667V30.3333C14.5439 31.622 15.5886 32.6667 16.8773 32.6667H26.2106C27.4993 32.6667 28.5439 31.622 28.5439 30.3333V11.6667C28.5439 10.378 27.4993 9.33334 26.2106 9.33334Z"
                            stroke="#394E9E"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path d="M21.4858 28H21.6025" stroke="#394E9E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <a href="">Topup</a>
                </li>
                <li>
                    <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.293945" width="42" height="42" rx="21" fill="#F3F3FF" />
                        <path d="M21.8774 14L18.3774 19.25H20.7108V22.75L24.2108 17.5H21.8774V14Z" fill="#394E9E" />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M29.4081 18.2426C29.2331 19.74 28.6299 21.1587 27.668 22.3347C27.1068 23.0201 25.6806 24.9783 25.3772 26.25H17.2106C16.9072 24.9772 15.4792 23.0189 14.9181 22.3329C13.9593 21.1627 13.3561 19.7422 13.1797 18.2397C13.0059 16.7404 13.2675 15.2227 13.9334 13.8682C14.6055 12.5033 15.6503 11.3566 16.9469 10.5607C18.2548 9.75697 19.76 9.33208 21.2951 9.33333C22.8339 9.33333 24.3412 9.75916 25.6432 10.5624C26.9395 11.3586 27.9839 12.5055 28.6556 13.8705C29.3212 15.2253 29.5824 16.7432 29.4081 18.2426ZM24.5507 25.0833H18.0366C17.7881 24.5099 17.4562 23.9353 17.147 23.4471C16.7402 22.8054 16.2977 22.1871 15.8217 21.595C15.004 20.5973 14.4894 19.3861 14.3388 18.1049C14.1906 16.8281 14.4134 15.5356 14.9805 14.3821C15.5557 13.2149 16.4496 12.2344 17.5588 11.5541C18.6827 10.8637 19.9761 10.4988 21.2951 10.5C22.6192 10.5 23.9142 10.8669 25.0313 11.5558C26.1401 12.2363 27.0336 13.2168 27.6085 14.3838C28.1753 15.5377 28.3977 16.8303 28.249 18.1072C28.0979 19.3881 27.5829 20.5989 26.765 21.5962C26.4558 21.973 25.9314 22.6718 25.4402 23.4482C25.1311 23.9365 24.7997 24.5099 24.5512 25.0833H24.5507Z"
                            fill="#394E9E"
                        />
                        <path
                            d="M17.2104 28C17.2104 27.8453 17.2719 27.6969 17.3813 27.5875C17.4907 27.4781 17.6391 27.4167 17.7938 27.4167H24.7938C24.9485 27.4167 25.0969 27.4781 25.2063 27.5875C25.3157 27.6969 25.3771 27.8453 25.3771 28C25.3771 28.1547 25.3157 28.3031 25.2063 28.4125C25.0969 28.5219 24.9485 28.5833 24.7938 28.5833H17.7938C17.6391 28.5833 17.4907 28.5219 17.3813 28.4125C17.2719 28.3031 17.2104 28.1547 17.2104 28Z"
                            fill="#394E9E"
                        />
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M17.2104 29.75H25.3771V31.5C25.3771 31.8094 25.2542 32.1062 25.0354 32.325C24.8166 32.5437 24.5199 32.6667 24.2104 32.6667H18.3771C18.0677 32.6667 17.771 32.5437 17.5522 32.325C17.3334 32.1062 17.2104 31.8094 17.2104 31.5V29.75ZM18.3771 30.9167H24.2104V31.5H18.3771V30.9167Z"
                            fill="#394E9E"
                        />
                    </svg>
                    <a href="">Electricity</a>
                </li>
                <li>
                    <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.0439453" width="42" height="42" rx="21" fill="#F3F3FF" />
                        <g clip-path="url(#clip0_13_386)">
                            <path
                                d="M34.3271 11.5892C34.137 11.5892 33.9547 11.6531 33.8203 11.7669C33.6858 11.8807 33.6103 12.035 33.6103 12.1959V13.8031H31.5901C30.9167 13.8037 30.27 14.0259 29.7865 14.4226C29.3029 14.8193 29.0205 15.3595 28.9987 15.9292H25.2121C24.2629 14.9204 22.8885 14.2623 21.378 14.0933V12.0559C21.7932 11.9665 22.18 11.8005 22.5104 11.5696L27.5961 12.5029C28.0742 12.5916 28.5698 12.588 29.046 12.4926C29.5223 12.3971 29.9671 12.2121 30.3474 11.9514C30.729 11.692 31.0368 11.3633 31.2479 10.9896C31.459 10.6159 31.5681 10.2068 31.567 9.79253C31.5684 9.38188 31.4617 8.97613 31.2545 8.60479C31.0473 8.23345 30.745 7.90587 30.3694 7.64588C29.9956 7.38502 29.5578 7.19789 29.0878 7.09812C28.6178 6.99835 28.1275 6.98843 27.6524 7.06907L22.7111 7.90066C22.1661 7.44347 21.4296 7.18718 20.6623 7.18762C20.2787 7.18748 19.8989 7.25147 19.5447 7.37592C19.1904 7.50037 18.8687 7.68282 18.598 7.91279L13.2344 7.04574C12.7607 6.9685 12.2726 6.98109 11.8052 7.0826C11.3379 7.18411 10.903 7.37202 10.5317 7.63281C10.1594 7.89242 9.85961 8.21869 9.65407 8.5881C9.44853 8.95751 9.34228 9.36088 9.34299 9.76921V9.81122C9.34243 10.2239 9.4511 10.6314 9.661 11.0038C9.87091 11.3763 10.1767 11.7042 10.5559 11.9635C11.1381 12.3657 11.8665 12.5856 12.618 12.586C12.8444 12.586 13.0702 12.5663 13.2918 12.5272L18.8053 11.5547C19.1396 11.7911 19.5322 11.9611 19.9543 12.0522V14.0794C18.4057 14.2301 16.9909 14.8943 16.0199 15.9264H12.0998C10.7619 15.9277 9.47932 16.378 8.53332 17.1787C7.58733 17.9794 7.05517 19.065 7.05371 20.1973V25.6788C7.05371 25.8397 7.12928 25.994 7.2637 26.1078C7.39812 26.2216 7.5804 26.2855 7.7705 26.2855H13.7891C13.9792 26.2855 14.1615 26.2216 14.2959 26.1078C14.4303 25.994 14.5059 25.8397 14.5059 25.6788V22.1228H16.0187C16.5697 22.7084 17.2696 23.1814 18.0663 23.5067C18.8629 23.832 19.7359 24.0011 20.6204 24.0016C21.5049 24.0012 22.3779 23.8321 23.1746 23.5068C23.9712 23.1815 24.671 22.7085 25.222 22.1228H29.0076V22.2003C29.0082 22.7822 29.2815 23.3401 29.7675 23.7516C30.2535 24.1632 30.9125 24.3947 31.6 24.3955H33.6202V26.0605C33.6202 26.2214 33.6957 26.3757 33.8302 26.4895C33.9646 26.6033 34.1469 26.6672 34.337 26.6672C34.527 26.6672 34.7094 26.6033 34.8438 26.4895C34.9782 26.3757 35.0537 26.2214 35.0537 26.0605V12.1959C35.0537 12.1155 35.0349 12.0359 34.9982 11.9617C34.9616 11.8876 34.9079 11.8204 34.8403 11.7639C34.7727 11.7075 34.6925 11.6629 34.6044 11.6329C34.5163 11.603 34.422 11.5881 34.3271 11.5892ZM30.4312 22.204V15.9983C30.4317 15.7383 30.554 15.4891 30.7713 15.3052C30.9885 15.1214 31.2829 15.0178 31.5901 15.0173H33.6103V23.1859H31.5901C31.2827 23.1856 30.9879 23.0821 30.7706 22.898C30.5533 22.7139 30.4312 22.4643 30.4312 22.204ZM19.1736 9.66094C19.1735 9.52443 19.1999 9.38884 19.2519 9.25962C19.3517 9.01093 19.541 8.7949 19.7931 8.64176C20.0452 8.48863 20.3476 8.40605 20.6579 8.40561C20.9663 8.40581 21.267 8.48737 21.5182 8.63891C21.7694 8.79046 21.9586 9.00447 22.0594 9.25121C22.1136 9.38295 22.1411 9.52146 22.141 9.66094C22.1416 9.85926 22.086 10.0548 21.9789 10.2312C21.8547 10.4378 21.6653 10.6113 21.4317 10.7324C21.1982 10.8534 20.9296 10.9174 20.6557 10.9172C20.3809 10.9164 20.1118 10.8512 19.8782 10.7288C19.6446 10.6064 19.4557 10.4315 19.3324 10.2237C19.2279 10.0493 19.1735 9.85651 19.1736 9.66094ZM27.9281 8.26094C28.1952 8.21554 28.471 8.22105 28.7354 8.27706C28.9997 8.33308 29.246 8.43819 29.4564 8.5848C29.6673 8.73071 29.8372 8.91457 29.9538 9.12298C30.0703 9.3314 30.1305 9.55916 30.1301 9.78974C30.1306 10.0226 30.0693 10.2525 29.9505 10.4626C29.8318 10.6726 29.6588 10.8573 29.4443 11.0031C29.1184 11.2269 28.7116 11.3491 28.2919 11.3493C28.1592 11.3495 28.0269 11.3377 27.8972 11.3139L23.4058 10.4888C23.5185 10.2219 23.5759 9.94061 23.5756 9.65721C23.5761 9.43844 23.542 9.2206 23.4742 9.00948L27.9281 8.26094ZM12.9907 11.3409C12.7227 11.3886 12.4454 11.3849 12.1793 11.3302C11.9131 11.2754 11.6648 11.171 11.4524 11.0245C11.239 10.8783 11.067 10.6933 10.9493 10.4833C10.8315 10.2733 10.771 10.0437 10.7721 9.81122V9.76921C10.7718 9.53965 10.8316 9.31289 10.9471 9.10521C11.0627 8.89752 11.2311 8.71408 11.4403 8.56802C11.7698 8.33666 12.1844 8.20991 12.6125 8.20962C12.7291 8.20964 12.8454 8.21901 12.9598 8.23762L17.836 9.02628C17.7716 9.23215 17.7389 9.44423 17.739 9.65721C17.7384 9.93468 17.7936 10.2102 17.9022 10.472L12.9907 11.3409ZM24.8492 20.9113C24.7336 20.9114 24.6197 20.9352 24.5172 20.9805C24.4146 21.0258 24.3266 21.0915 24.2604 21.1718C23.8509 21.6707 23.3049 22.0785 22.669 22.3603C22.0331 22.6421 21.3261 22.7896 20.6083 22.7901C19.8905 22.7896 19.1834 22.6421 18.5475 22.3603C17.9116 22.0785 17.3656 21.6707 16.9561 21.1718C16.8899 21.0915 16.8018 21.0258 16.6993 20.9805C16.5968 20.9352 16.4829 20.9114 16.3672 20.9113H13.777C13.587 20.9116 13.4048 20.9756 13.2705 21.0893C13.1361 21.203 13.0605 21.3572 13.0602 21.518V25.074H8.47733V20.1992C8.47849 19.3888 8.85934 18.6119 9.53636 18.0389C10.2134 17.4659 11.1313 17.1435 12.0887 17.1425H16.3683C16.484 17.1426 16.598 17.1189 16.7005 17.0736C16.8031 17.0282 16.8911 16.9625 16.9572 16.8821C17.3667 16.3831 17.9126 15.9753 18.5486 15.6935C19.1845 15.4117 19.8915 15.2643 20.6094 15.2637C21.3272 15.2643 22.0342 15.4117 22.6701 15.6935C23.3061 15.9753 23.852 16.3831 24.2615 16.8821C24.3276 16.9625 24.4156 17.0282 24.5182 17.0736C24.6207 17.1189 24.7347 17.1426 24.8504 17.1425H28.9954V20.9113H24.8492Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M10.5716 28.0915C10.4644 28.0914 10.3585 28.1116 10.2618 28.1507C10.165 28.1898 10.0798 28.2468 10.0125 28.3173C9.58463 28.7681 7.44873 31.0828 7.44873 32.3558C7.44931 33.0567 7.77847 33.7287 8.364 34.2243C8.94952 34.7199 9.74351 34.9986 10.5716 34.9991C11.3995 34.9983 12.1933 34.7196 12.7788 34.224C13.3643 33.7285 13.6936 33.0566 13.6945 32.3558C13.6945 31.0828 11.5585 28.7681 11.1307 28.3173C11.0634 28.2467 10.9782 28.1898 10.8814 28.1507C10.7847 28.1116 10.6788 28.0913 10.5716 28.0915ZM10.5716 33.7848C10.124 33.7843 9.69495 33.6336 9.37847 33.3657C9.06199 33.0979 8.8839 32.7347 8.88332 32.3558C9.22538 31.3811 9.79997 30.4761 10.5716 29.6968C11.3429 30.4763 11.9174 31.3812 12.2598 32.3558C12.2595 32.7348 12.0816 33.0982 11.7651 33.3663C11.4486 33.6344 11.0193 33.7853 10.5716 33.7858V33.7848Z"
                                fill="#394E9E"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_13_386">
                                <rect width="28" height="28" fill="white" transform="translate(7.04395 7)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <a href="">Khanepani</a>
                </li>
                <li>
                    <svg width="43" height="38" viewBox="0 0 43 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.793945" width="42" height="38" rx="19" fill="#F3F3FF" />
                        <g clip-path="url(#clip0_13_393)">
                            <path
                                d="M32.6517 10.7037H16.9789V8.19995C16.9784 7.88185 16.8579 7.57692 16.6438 7.35199C16.4297 7.12706 16.1394 7.00048 15.8366 7H11.128C10.8252 7.00048 10.5349 7.12706 10.3208 7.35199C10.1067 7.57692 9.9862 7.88185 9.98575 8.19995V10.7027H8.93621C8.6334 10.7032 8.34313 10.8298 8.12901 11.0547C7.9149 11.2797 7.7944 11.5846 7.79395 11.9027V29.7991C7.79417 30.1174 7.91457 30.4226 8.12871 30.6477C8.34285 30.8728 8.63325 30.9995 8.93621 31H32.6517C32.9546 30.9995 33.245 30.8728 33.4592 30.6477C33.6733 30.4226 33.7937 30.1174 33.7939 29.7991V11.9036C33.7935 11.5855 33.673 11.2806 33.4589 11.0556C33.2448 10.8307 32.9545 10.7041 32.6517 10.7037ZM11.0275 8.19995C11.0277 8.17105 11.0387 8.1434 11.0582 8.12296C11.0776 8.10253 11.104 8.09094 11.1315 8.0907H15.8366C15.8641 8.09094 15.8904 8.10253 15.9099 8.12296C15.9294 8.1434 15.9404 8.17105 15.9406 8.19995V27.2353C15.9402 27.2642 15.9291 27.2917 15.9097 27.3121C15.8902 27.3325 15.8641 27.3441 15.8366 27.3446H11.128C11.1006 27.3441 11.0744 27.3325 11.055 27.3121C11.0356 27.2917 11.0245 27.2642 11.024 27.2353L11.0275 8.19995ZM32.7548 29.7991C32.7546 29.828 32.7436 29.8557 32.7241 29.8761C32.7046 29.8966 32.6783 29.9082 32.6508 29.9084H8.93621C8.90877 29.9079 8.88257 29.8963 8.86317 29.8759C8.84376 29.8555 8.83266 29.828 8.83221 29.7991V11.9036C8.83244 11.8747 8.84347 11.8471 8.86292 11.8266C8.88238 11.8062 8.9087 11.7946 8.93621 11.7944H9.98835V27.2353C9.9888 27.553 10.1089 27.8575 10.3225 28.0823C10.536 28.3072 10.8257 28.4341 11.128 28.4353H15.8331C16.136 28.4348 16.4262 28.3082 16.6403 28.0833C16.8545 27.8584 16.975 27.5534 16.9754 27.2353V11.7944H32.6517C32.6792 11.7946 32.7055 11.8062 32.725 11.8266C32.7444 11.8471 32.7555 11.8747 32.7557 11.9036L32.7548 29.7991Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M29.6452 12.9652H19.4948C19.192 12.9657 18.9017 13.0922 18.6876 13.3172C18.4735 13.5421 18.353 13.847 18.3525 14.1651V17.5337C18.353 17.8518 18.4735 18.1568 18.6876 18.3817C18.9017 18.6066 19.192 18.7332 19.4948 18.7337H29.6452C29.948 18.7332 30.2383 18.6066 30.4524 18.3817C30.6665 18.1568 30.787 17.8518 30.7875 17.5337V14.1651C30.787 13.847 30.6665 13.5421 30.4524 13.3172C30.2383 13.0922 29.948 12.9657 29.6452 12.9652ZM29.7492 17.5356C29.749 17.5645 29.7379 17.5921 29.7185 17.6126C29.699 17.633 29.6727 17.6446 29.6452 17.6448H19.4948C19.4673 17.6446 19.441 17.633 19.4215 17.6126C19.4021 17.5921 19.391 17.5645 19.3908 17.5356V14.1669C19.391 14.138 19.4021 14.1104 19.4215 14.09C19.441 14.0695 19.4673 14.0579 19.4948 14.0577H29.6452C29.6727 14.0579 29.699 14.0695 29.7185 14.09C29.7379 14.1104 29.749 14.138 29.7492 14.1669V17.5356Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M25.2185 20.6975H23.9185C23.6156 20.6977 23.3251 20.8242 23.1108 21.0492C22.8965 21.2741 22.7758 21.5792 22.7754 21.8975V22.6049C22.7756 22.9233 22.8961 23.2286 23.1105 23.4537C23.3248 23.6789 23.6154 23.8055 23.9185 23.8057H25.2185C25.3688 23.8061 25.5177 23.7753 25.6567 23.7152C25.7957 23.6551 25.922 23.5668 26.0285 23.4553C26.135 23.3439 26.2195 23.2115 26.2773 23.0658C26.335 22.92 26.3649 22.7637 26.3651 22.6058V21.8984C26.365 21.7404 26.3353 21.584 26.2775 21.4381C26.2198 21.2922 26.1353 21.1598 26.0288 21.0482C25.9223 20.9367 25.7959 20.8483 25.6569 20.7881C25.5179 20.7279 25.3689 20.6971 25.2185 20.6975ZM25.3225 22.6094C25.3223 22.6383 25.3113 22.666 25.2918 22.6864C25.2724 22.7069 25.246 22.7184 25.2185 22.7187H23.9185C23.891 22.7184 23.8647 22.7069 23.8452 22.6864C23.8258 22.666 23.8148 22.6383 23.8145 22.6094V21.902C23.8148 21.8731 23.8258 21.8455 23.8452 21.825C23.8647 21.8046 23.891 21.793 23.9185 21.7928H25.2185C25.246 21.793 25.2724 21.8046 25.2918 21.825C25.3113 21.8455 25.3223 21.8731 25.3225 21.902V22.6094Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M20.7914 20.6975H19.4914C19.1886 20.698 18.8983 20.8246 18.6842 21.0495C18.4701 21.2744 18.3496 21.5794 18.3491 21.8975V22.6049C18.3494 22.9231 18.4697 23.2283 18.6839 23.4534C18.898 23.6786 19.1884 23.8053 19.4914 23.8057H20.7914C21.0944 23.8053 21.3848 23.6786 21.5989 23.4534C21.813 23.2283 21.9334 22.9231 21.9337 22.6049V21.8975C21.9332 21.5794 21.8127 21.2744 21.5986 21.0495C21.3845 20.8246 21.0942 20.698 20.7914 20.6975ZM20.8954 22.6094C20.8952 22.6383 20.8841 22.666 20.8647 22.6864C20.8452 22.7069 20.8189 22.7184 20.7914 22.7187H19.4914C19.4639 22.7184 19.4376 22.7069 19.4181 22.6864C19.3987 22.666 19.3876 22.6383 19.3874 22.6094V21.902C19.3876 21.8731 19.3987 21.8455 19.4181 21.825C19.4376 21.8046 19.4639 21.793 19.4914 21.7928H20.7914C20.8189 21.793 20.8452 21.8046 20.8647 21.825C20.8841 21.8455 20.8952 21.8731 20.8954 21.902V22.6094Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M29.6453 20.6975H28.3453C28.0423 20.6977 27.7518 20.8242 27.5375 21.0492C27.3232 21.2741 27.2026 21.5792 27.2021 21.8975V22.6049C27.2024 22.9233 27.3229 23.2286 27.5372 23.4537C27.7515 23.6789 28.0422 23.8055 28.3453 23.8057H29.6453C29.9484 23.8055 30.239 23.6789 30.4533 23.4537C30.6677 23.2286 30.7882 22.9233 30.7884 22.6049V21.8975C30.788 21.5792 30.6673 21.2741 30.453 21.0492C30.2387 20.8242 29.9482 20.6977 29.6453 20.6975ZM29.7493 22.6094C29.7491 22.6383 29.738 22.666 29.7186 22.6864C29.6991 22.7069 29.6728 22.7184 29.6453 22.7187H28.3453C28.3178 22.7182 28.2916 22.7066 28.2722 22.6862C28.2528 22.6658 28.2417 22.6383 28.2413 22.6094V21.902C28.2417 21.8732 28.2528 21.8457 28.2722 21.8253C28.2916 21.8049 28.3178 21.7932 28.3453 21.7928H29.6453C29.6728 21.793 29.6991 21.8046 29.7186 21.825C29.738 21.8455 29.7491 21.8731 29.7493 21.902V22.6094Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M25.2185 25.3271H23.9185C23.6154 25.3273 23.3248 25.4539 23.1105 25.6791C22.8961 25.9042 22.7756 26.2095 22.7754 26.5279V27.2354C22.7758 27.5536 22.8965 27.8587 23.1108 28.0836C23.3251 28.3086 23.6156 28.4351 23.9185 28.4353H25.2185C25.3688 28.4357 25.5177 28.4049 25.6567 28.3448C25.7957 28.2847 25.922 28.1964 26.0285 28.0849C26.135 27.9735 26.2195 27.8411 26.2773 27.6953C26.335 27.5496 26.3649 27.3933 26.3651 27.2354V26.5279C26.365 26.37 26.3353 26.2136 26.2775 26.0677C26.2198 25.9218 26.1353 25.7893 26.0288 25.6778C25.9223 25.5662 25.7959 25.4779 25.6569 25.4177C25.5179 25.3575 25.3689 25.3267 25.2185 25.3271ZM25.3225 27.239C25.3223 27.2679 25.3113 27.2956 25.2918 27.316C25.2724 27.3364 25.246 27.348 25.2185 27.3482H23.9185C23.891 27.348 23.8647 27.3364 23.8452 27.316C23.8258 27.2956 23.8148 27.2679 23.8145 27.239V26.5316C23.8148 26.5027 23.8258 26.475 23.8452 26.4546C23.8647 26.4342 23.891 26.4226 23.9185 26.4223H25.2185C25.246 26.4226 25.2724 26.4342 25.2918 26.4546C25.3113 26.475 25.3223 26.5027 25.3225 26.5316V27.239Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M20.7914 25.3271H19.4914C19.1884 25.3276 18.898 25.4543 18.6839 25.6794C18.4697 25.9045 18.3494 26.2097 18.3491 26.5279V27.2354C18.3496 27.5535 18.4701 27.8584 18.6842 28.0833C18.8983 28.3082 19.1886 28.4348 19.4914 28.4353H20.7914C21.0942 28.4348 21.3845 28.3082 21.5986 28.0833C21.8127 27.8584 21.9332 27.5535 21.9337 27.2354V26.5279C21.9334 26.2097 21.813 25.9045 21.5989 25.6794C21.3848 25.4543 21.0944 25.3276 20.7914 25.3271ZM20.8954 27.239C20.8952 27.2679 20.8841 27.2955 20.8647 27.316C20.8452 27.3364 20.8189 27.348 20.7914 27.3482H19.4914C19.4639 27.348 19.4376 27.3364 19.4181 27.316C19.3987 27.2955 19.3876 27.2679 19.3874 27.239V26.5316C19.3876 26.5027 19.3987 26.475 19.4181 26.4546C19.4376 26.4342 19.4639 26.4226 19.4914 26.4223H20.7914C20.8189 26.4226 20.8452 26.4342 20.8647 26.4546C20.8841 26.475 20.8952 26.5027 20.8954 26.5316V27.239Z"
                                fill="#394E9E"
                            />
                            <path
                                d="M29.6453 25.3271H28.3453C28.0422 25.3273 27.7515 25.4539 27.5372 25.6791C27.3229 25.9042 27.2024 26.2095 27.2021 26.5279V27.2354C27.2026 27.5536 27.3232 27.8587 27.5375 28.0836C27.7518 28.3086 28.0423 28.4351 28.3453 28.4353H29.6453C29.9482 28.4351 30.2387 28.3086 30.453 28.0836C30.6673 27.8587 30.788 27.5536 30.7884 27.2354V26.5279C30.7882 26.2095 30.6677 25.9042 30.4533 25.6791C30.239 25.4539 29.9484 25.3273 29.6453 25.3271ZM29.7493 27.239C29.7491 27.2679 29.738 27.2955 29.7186 27.316C29.6991 27.3364 29.6728 27.348 29.6453 27.3482H28.3453C28.3178 27.3478 28.2916 27.3361 28.2722 27.3157C28.2528 27.2953 28.2417 27.2678 28.2413 27.239V26.5316C28.2417 26.5028 28.2528 26.4752 28.2722 26.4548C28.2916 26.4345 28.3178 26.4228 28.3453 26.4223H29.6453C29.6728 26.4226 29.6991 26.4342 29.7186 26.4546C29.738 26.475 29.7491 26.5027 29.7493 26.5316V27.239Z"
                                fill="#394E9E"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_13_393">
                                <rect width="26" height="24" fill="white" transform="translate(7.79395 7)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <a href="">Landline</a>
                </li>
            </ul>
            <p>Mobile-Finance Technology, Kupondole, Kathmandu, Nepal Toll Free: xxxx-xx-xxxx , Viber: +977-xxxxxxxx <a href="">mo-fintech.com.np</a></p>
        </footer>
    </body>
</html>
